@use "sass:map";

// Theme Definitions
$themes: (
        dark: (
                root-primary: #000000,
                background-primary: rgba(41, 40, 58, 0.6),
                navigation-bg-primary: rgba(41, 40, 58, 0.9),
                text-primary: #FFFFFF,
                accent-blue: #3A84F7
        ),
        light: (
                root-primary: #FFFFFF,
                background-primary: #FFFFFF,
                navigation-bg-primary: #29283A,
                text-primary: #000000,
                accent-blue: #3A84F7
        ),
);

@function theme-get($theme, $key) {
  @return map.get(map.get($themes, $theme), $key);
}

$default-theme: dark;

// Global variables
$root-primary: theme-get($default-theme, root-primary);
$background-primary: theme-get($default-theme, background-primary);
$navigation-bg-primary: theme-get($default-theme, navigation-bg-primary);
$text-primary: theme-get($default-theme, text-primary);
$accent-blue: theme-get($default-theme, accent-blue);

$corner-radius: 50px;

// Font settings
// Montserrat for logo
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

// SF UI Display for general use
@font-face {
  font-family: "SF UI Display";
  src: url("../assets/fonts/sf/SFUIDisplay-Thin.ttf") format("truetype");
  font-weight: 100; // Thin
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("../assets/fonts/sf/SFUIDisplay-Light.ttf") format("truetype");
  font-weight: 300; // Light
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("../assets/fonts/sf/SFUIDisplay-Regular.ttf") format("truetype");
  font-weight: 400; // Regular
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("../assets/fonts/sf/SFUIDisplay-Medium.ttf") format("truetype");
  font-weight: 500; // Medium
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("../assets/fonts/sf/SFUIDisplay-Bold.ttf") format("truetype");
  font-weight: 700; // Bold
  font-style: normal;
}

// Font variables
$font-family: "SF UI Display", Arial, sans-serif;
$font-family-logo: "Montserrat", Arial, sans-serif;
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-size-logo: 20px;